.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.codingbuttons {
  margin: 0 0 0 10%;
}

.projectgap {
  margin: 10% 0 0 0;
}


figure {
  float:"left";
}

img {
  border-radius:5px;
}

.resumepdf:hover {
  color: #2b6c80;
  text-shadow: 0 0 16px rgba(81, 172, 199, 0.8);
}



.progicon {
    border: 3px solid #F7F7F7;
    border-radius:18px;
}
.progicon:hover {
  box-shadow:0px 0px 22px 0px rgba(81, 172, 199, 0.67);
}

@media(max-width:770px) {
  .carousel {
    width: auto !important;
    height: auto !important;
  }
}

.custname {
  font-family:arial;
  font-weight:500;
}
